ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #927171;
    color: #000;
  }

  li {
    float: left;
    margin-right: 15px;
  }

   a {
 
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #d4c4c4;
  }